
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');




body{
    
    font-family: 'Roboto', sans-serif; 
    
    
}

main{
    position: relative; 
   

}
 ::-webkit-scrollbar{
    
    background: #E7E7E7; 
    width: 3px; 
    height: 360px; 
    
  }   
::-webkit-scrollbar-thumb{
    
    background-color:#BFBFBF; 
    height: 200px; 
    
}

.row{

    margin: 0!important; 


}


.container-fluid{
    
    padding: 0!important; 
    margin: 0!important; 


}

.center{
    width: 90%; 
    height: 68px; 
    background-color:#FDF1EB;     
}
.col-left {
    width: 30%; 
    max-width: 220px;  
   
     


}

.logo{

    height: 68px; 
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #00000040;
}

.logo h1{

    font-size: 30px; 
    line-height: 35.16px; 
    font-weight: 700;
    color: white; 

}



.center .content-headerCenter{

    max-width: 1200px; 
    
    

}



.center .content-headerCenter p{


    font-size: 14px; 
    font-weight: 400;   
    margin-bottom: 0!important; 

}


.center .content-headerCenter h2{


    font-size: 22px; 
    line-height: 25.78px; 
    font-weight: 400; 
    margin-bottom: 0!important; 


}

.content-headerRight{

    height: 68px; 
    
}

.content-headerRight .Language {

    max-width: 97px; 
    height: 34px; 
    margin-right: 22px; 
    margin-left: 110px;
}




.content-headerRight .Language select{
    text-align: center; 
    appearance: none;
    width: 97px;
    height: 34px; 
    background: url('../assets/dropdown.svg') no-repeat 80px, url('../assets/language\ image.svg') no-repeat left center ; 
    padding: 0 15px ;
    border-radius: 3px; 
    border: 1px solid #CCCCCC; 
    color: #333333; 
    font-weight: 400;

}


.content-headerRight .picture{

    height: 48px;;
    max-width: 48px; 
    position: relative; 
    

}
.content-headerRight .img{

    border-radius: 50%; 
    height: 40px; 
    max-width: 40px; 

}

.content-headerRight .editable{ 


    position: absolute; 
    top: -2px; 
    right: 7px;
    border-radius: 12px; 
    

}



nav.left{

    box-shadow: 0px 0px 10px 0px #00000040;
    max-width: 220px;
    min-height:100%; 
    
    position: absolute!important; 
    bottom: 0; 
    top: 0;
     
    
}


.contentUser  {

    text-align: right; 


}


.contentUser .expansao{

    font-size: 14px; 
    

}


.contentUser .user-paragraph{


    font-size: 12px;

}




aside.right{

    width: 220px; 
    margin-top: 20px;  
    
}


.botoes{ 

    display: flex; 
    gap: 5px; 


}
.btn{

    line-height: 0!important;
    font-size: 16px!important; 
    font-weight: 500!important;


}
.btn-light{
    color: white!important; 
    vertical-align: middle;
    background-color: #ED7839!important;
    border-color:#ED7839!important;
    height: 32px;
   
}


.button-especial{

    max-width: 120px!important;

}


.buttons img{

    height: 19px; 
    max-width: 19px; 
  

}


.button-secondary{

    max-width: 43px; 

}
.button-especial:hover, 
.button-secondary:hover{

    background-color: #BA5E2D!important;
    border-color:  #BA5E2D!important; 
    outline:1px solid  #BA5E2D!important; 
}



.right .subtitleRight{

    font-size: 14px; 
    line-height: 25px;
    text-align: center; 
    color: #ED7839;
    font-weight: 500;
    letter-spacing: 0.05em;

}

#sectionD{

    height: 439px; 
    max-width: 242px;
    border: 1px solid #ECECEC; 
    border-radius: 3px; 

}
#sectionD .destaque{

    height: 45px; 
    background-color: #FDF1EB;


}

.conteudo{

  max-width: 212px; 


}

#sectionD .destaque h3{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 20px; 
    line-height: 25px;
    padding: 11px 9px 15px 15px; 

}
.ContentCenter{

    overflow-y: scroll;
    height: 364px;
    padding: 12px; 
    

}



.conteudo .p{

    font-size: 12px; 
    color:  #5C5C5C ;
    letter-spacing: 0.02em; 
    font-family: 'Quicksand', sans-serif;

}


.conteudo #autores {

    font-size: 14px; 
    color: #5C5C5C;
    line-height: 16.8px;
    font-family: 'Quicksand', sans-serif;

}

.conteudo .universidades{
      
    line-height: 10px;
    
    font: normal 400 10px 'Quicksand';
}



.h4 {
    
    font-size: 12px!important;
    font-weight: bold;  


}

.video {

    position: relative; 
    
    

}



.testar{

   position: absolute;  
   z-index: -1; 



}


.videoCenter{

    margin-left: 31px; 

}

.img-fluid{

    max-width: 783px!important ; 
    

}



.centerContent .video h1{

    font-size: 20px;
    line-height: 25px;
    color: #ED7839; 
    margin: 20px 0 20px 0 ; 

}


.col-md-3{

    max-width: 242px!important; 
   
}

.col-md-7{

    max-width: 783px!important; 
    margin-right: 31px;
    margin-left: 45px;  
}




.navegacaoMain li{

    border-bottom: 1px solid #E7E7E7; 

}
.navegacaoMain a{

    line-height: 18.75px; 
    color: #725C5C ;
    font: normal 500 15px 'Quicksand', sans-serif;
    
}

#sectionThree {
    margin-top: 30px;
     
}


     



 .subtituloResumo{

    height: 45px;   
    background-color: #FDF1EB; 
    border: 1px solid #ECECEC; 
    font: normal 500 20px 'Roboto', sans-serif; 
    line-height: 45px;
    text-indent: 15px;
}

#sectionThree .contentresumo{

    height: 189px; 
    border: 1px solid #ECECEC; 
    overflow-y: hidden; 
       

}

#sectionThree .mostrarConteudo{
    height: 439px; 
    border: 1px solid #ECECEC; 
    transition: 0.2s;
    

}


#sectionThree .contentresumo p{

    font: normal 400 14px 'Quicksand', sans-serif; 
    padding: 15px; 

}

#sectionThree .mostrarConteudo p{ 

    font: normal 400 14px 'Quicksand', sans-serif; 
    padding: 15px; 

}

#sectionThree #readMore{

    border: none; 
    outline: none; 
    background-color: transparent; 
    color: #ED7839 ;
    font-weight: 900;

}

#sectionThree .col-md-11,
#forSection .col-md-11
 {

    margin-left: 45px!important; 

}




#forSection{

    margin-top: 30px;

}


.subtitleduvidas{

    font:normal 400 14px 'Quicksand', sans-serif; 

}


.subtitlefor{

    color: #ED7839 ; 
    font: normal 700 18px 'Roboto', sans-serif; 
}


#forSection .icons{

    display: flex ;
    gap: 51.74px; 

}

#forSection .paragraphFor{

    font: normal 400 14px 'Quicksand', sans-serif; 
    line-height: 19.25px; 
    max-width: 626px; 
    margin: 0 auto; 

}

#forSection .btn{

    padding: 0.500rem 0.75rem!important; 


}
#forSection .botaoFor{
   
    margin-top: 21px; 
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    height: 32px; 
    max-width: 133px; 
    max-width: 133px; 

    line-height: 16px; 
    color: white; 
    font: normal 700 15px 'Quicksand', sans-serif; 
    box-shadow: 0px 2px 2px 0px #0000003D;

    box-shadow: 0px 0px 2px 0px #0000001F;


}

#forSection .icon-expan{

    display: inline-block; 
    position:relative; 
    right: 5px; 
    bottom: 1px; 
}

.topicos .topicoUm h3.subtitleTopicos, 
.topicos .topicoDois h3.subtitleTopicos{


   
    font-weight: 700!important; 
    font-family: 'Quicksand', sans-serif; 
    font-size: 16px!important; 
    line-height: 15px; 
    color: #ED7839; 

}

.subtituloDinamico{

    
    font-weight: 700!important; 
    font-family: 'Quicksand', sans-serif; 
    font-size: 16px!important; 
    line-height: 15px; 
    color: #ED7839;

}

.expansaoDinamica{

    display: inline-block; 
    font-size: 12px; 
    line-height: 15px; 

}

.topicos .expansaoTopicos{

    display: inline-block; 
    font-size: 12px; 
    line-height: 15px; 

}
.topicoUm, .topicoDois{

    margin-top: 15px; 
    padding: 24px; 
   

}

.paragrafoDinamico{

    font-size: 14px!important; 
    font-weight: 400!important; 
    font-family: 'Quicksand', sans-serif!important;

}


.topicos .paragrafoExpansao{

    font-size: 14px!important; 
    font-weight: 400!important; 
    font-family: 'Quicksand', sans-serif!important;
}   


.topicoUm .maisInfor,
.topicoUm #iconesTopicos,
.topicoDois .maisInfor,
.topicoDois #iconesTopicos{

    border: 0; 
    outline: 0; 
    background-color: transparent; 


}


.like{

    font: normal 400 14px 'Segoe UI' ;
    line-height: 18.62px; 
    color: #757575; 
    margin-right: 15px;

}




label{

    display: block; 
    color: #ED7839; 
    font-weight: 700; 

}

.cadastroDuvidas{
    display: block; 


}
#valueInput{

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    height: 39px;
}

.contrast{

    border: 1px solid rgba(0, 0,0, 0.3); 
    height: 31px; 
    background-color: #EAF1F2;
    padding: 0 29px;    
    width: calc(100% - 205px)

}


.contrast .shape{

    margin-right: 30px; 

}

.asktwo .form-control{

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; 
    height: 82px;
    border-bottom: 1px solid transparent; 

}


.asktwo .btn{ 

    border-bottom-left-radius: 0; 
    border-top-left-radius: 0; 
}

.buttonRecovery{

    width: 205px; 
    
    border-bottom-right-radius: 3px; 
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    color: white; 

}



/* estilos de controle */


.displayNone {


    display: none; 

}


.displayBlock {

    display: block; 

}


/* classes dinamicas */

.tituloDinamico{

    font-size: 12px; 
    font-weight: 700; 
    font-family:'Quicksand', sans-serif; 
    line-height:15px; 
    color: #5C5C5C ; 


}


.paragrafoDinamico{

    font-size: 14px; 
    font-family: 'Quicksand', sans-serif; 
    line-height: 17px; 
    
    color:#4D4D4D  ; 

}


.respostasTopicos{

    padding: 23px; 


}




.subtitleloading{

    font:normal 700 18px 'Roboto', sans-serif;
    color: #ED7839;




}



.firstPload{

    font:normal 400 14px 'Quicksand', sans-serif ; 


}



.secondPload{


    font: normal 500 14px 'Quicksand', sans-serif ;    
    color: #ED7839;

}


.quadro{

    height: 148px;
    border: 1px solid black;        
     


}




.subtitleQuadro{

    font:normal 700 16px 'Quicksand', sans-serif; 

}



.imagem-fluida{

    max-width: 30px;
    height: 23.22px; 

}


.btn-carregamento{
    color: white; 
    font: normal 700 15px 'Quicksand', sans-serif ; 
    display: block!important; 
    margin: 23px auto; 
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    height: 32px ;
    max-width: 235.15px; 
    box-shadow: 0px 2px 2px 0px #0000003D;
    box-shadow: 0px 0px 2px 0px #0000001F;


}


 
    


/* Reponsividade */

@media (max-width: 1323px) {


    ::-webkit-scrollbar{
    
        background: #E7E7E7; 
        width: 0px; 
        height: 0px; 
        
      }   
    
    
  ::-webkit-scrollbar-thumb{
        
        background-color:#BFBFBF; 
        height: 0px; 
        
    }
   
    
    .video img{ 

        width: 100%; 
        height: 439px; 
    }






}


@media (max-width: 1275px){

    ::-webkit-scrollbar{
    
        background: #E7E7E7; 
        width: 0px; 
        height: 0px; 
        
      }   
    
    
  ::-webkit-scrollbar-thumb{
        
        background-color:#BFBFBF; 
        height: 0px; 
        
    }
   
    
    .video img{ 

        width: 100%; 
        height: 439px; 
    }

    #sectionD{

        height: 439px; 
        

    }    

   aside.right{
        height: 439px; 
        width: 100%; 
                
        
   }
   
.center .content-headerCenter p{


    font-size: 12px; 
    font-weight: 400;   
    margin-bottom: 0!important; 

}


.center .content-headerCenter h2{


    font-size: 18px; 
    line-height: 25.78px; 
    font-weight: 600; 
    margin-bottom: 0!important; 


}
   
.center .content-headerCenter span{ 

    font-size: 13px;    

}


#sectionThree .row{ 

    max-width: calc(100% - 220px); 
    

}

}

@media (max-width: 768px){

    
    ::-webkit-scrollbar{
    
        background: #E7E7E7; 
        width: 0px; 
        height: 0px; 
        
      }   
    ::-webkit-scrollbar-thumb{
        
        background-color:#BFBFBF; 
        height: 0px; 
        
    }


   



}


@media (max-width: 576px) {

    .col-left{
        width: 20%; 


    }



    .center{

        width: 80%; 


    }

    .content-headerCenter{

        width: 70%; 
      
    }

    .content-headerRight{

       
        display: flex; 
        
        justify-content: center;
    }

.center .content-headerCenter p{


    font-size: 10px; 
    font-weight: 400;   
    margin-bottom: 0!important; 

}


.center .content-headerCenter h2{


    font-size: 13px; 
    line-height: 14.78px; 
    font-weight: 400; 
    
    margin-bottom: 0!important; 


}
   
nav.left{

    box-shadow: 0px 0px 10px 0px #00000040;
    max-width: 220px;
    height: 80px;

    
    position: static!important; 
     
    
     
    
}
 
    
.videoCenter{

    margin-top: 120px;  

}


#referenciasRight{

    margin-top: 180px;

}

.navegacaoMain{

    display: flex!important;
    flex-direction: row!important;  
    justify-content: space-around!important;


}


.left .img-left{

    display: none; 

}


main .col-md-2{

    width: 100%!important; 
    position: static!important; 

}

.logo{

    height: 68px; 
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #00000040;
}

.logo h1{

    font-size: 15px; 
    line-height: 20.16px; 
    font-weight: 700;
    color: white; 

}

.contentUser{

    display: none; 


}





.content-headerRight .Language select{
    text-align: left; 
    appearance: none;
    width: 60px;
    height: 34px; 
    background: url('../assets/dropdown.svg') no-repeat 45px; 
    padding-left: 9px;
    border-radius: 3px; 
    border: 1px solid #CCCCCC; 
    color: #333333; 
    font-weight: 400;
    font-size: 12px; 
}











.content-headerRight .Language {
    display: none; 
    max-width: 97px; 
    height: 34px; 
    margin-right: 0; 
    margin-left: 0;
}




.content-headerRight .picture{

    height: 48px;;
    max-width: 48px; 
    position: relative; 
    

}
.content-headerRight .img{

    border-radius: 50%; 
    height: 40px; 
    max-width: 40px; 

}

.content-headerRight .editable{ 


    position: absolute; 
    top: -2px; 
    right: 7px;
    border-radius: 12px; 
    

}

nav.left{

    box-shadow: 0px 0px 10px 0px #00000040;
    max-width: 100%; 
    width: 100%;  
    min-height: 1px; 
    height: 40px; 
    position: static!important; 
    
     
    
}


.col-md-2{

   
    height: 40px; 
    width: 100%;    

}


.navegacaoMain li{

    border-bottom: none; 

}

.navegacaoMain .nav-link{

    padding: 8px; 
    text-decoration: none; 


}
.navegacaoMain a{

    line-height: 12.75px; 
    color: #725C5C ;
    font: normal 500 13px 'Quicksand', sans-serif;
    
}



}/* Fim Responsividade */